#menu-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  /*background: white;*/
  padding: 5px 15px;
  font-size: 24px;
  /*border-radius: 5px;*/
  cursor: pointer;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
}

#slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 999;
  transform: translateX(-105%);
  transition: transform 0.3s ease;
  /*width: fit-content;*/
  width: 15em;
  max-width: 85vw;
  height: 100vh;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

#slide-menu.open {
  transform: translateX(0);
}

#slide-menu .head {
  flex: 0 0 auto;
  padding: 10px;
  text-align: right;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

#slide-menu .body {
  flex: 1 1 auto;
  overflow-y: auto;
}

#slide-menu ul {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

#slide-menu li {
  padding-left: 2.5em;
  text-indent: -1.6em;
  padding-right: 0.5em
}

#slide-menu li.exhibitor {
  cursor: pointer;
  color: black;
}

#slide-menu li.non-exhibitor {
  cursor: default;
  color: #bbb;
}

